# 캐시 디렉토리 무력화 (일부 환경에서 ENOTEMPTY 문제 방지)
cache=/tmp/empty-cache

# package-lock.json 강제 사용
package-lock=true

# 최신 버전 확인 건너뜀
update-notifier=false

# npm ci 에서 peer dependency 경고 무시
legacy-peer-deps=true

prefer-offline=false
